<div class="columns">

   <div class="column" style="width: 32%; margin: 5px;">
    <div class="panel">
      <h3>Sales</h3>
      <div class="panel_contents">
        <center>
          <h1><%= Sale.all.count %></h1>
          <%= link_to admin_sales_path do %>
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
              </div>
            <% end %>
          </center>
      </div>
    </div>
  </div>


  <div class="column" style="width: 32%; margin: 5px;">
    <div class="panel">
      <h3>Bikes</h3>
      <div class="panel_contents">
        <center>
          <h1><%= Bike.all.count %></h1>
          <%= link_to admin_bikes_path do %>
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
              </div>
            <% end %>
          </center>
      </div>
    </div>
  </div>


   <div class="column" style="width: 32%; margin: 5px;">
    <div class="panel">
      <h3>Total Sales</h3>
      <div class="panel_contents">
        <center>
          <h1><%= Bike.all.sum(&:onroad_price) %></h1>
          <%= link_to admin_bikes_path do %>
              <div class="panel-footer">
                  <span class="pull-left">View Details</span>
              </div>
            <% end %>
          </center>
      </div>
    </div>
  </div>


</div>
         

<div class="columns">
  <%= column_chart Bike.all.group(:created_at).count %>
</div>



