<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Show room:</strong>
  <%= @customer.show_room %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @customer.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @customer.id_number %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @customer.pin %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
