<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    
    <title>GEM Automotive</title>

  </head>

  <body class="login">
    <div class="login_wrapper">
      
    
        <div id="register-form" class=" form">
          <section class="login_content">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h1>Log In</h1>
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" ,  placeholder: "email" %>
              </div>
  
              <div>
               <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "password" %>
              </div>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
              <div>
                <%= f.submit "Log in", class: "btn btn-default" %>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <%= render "users/shared/links" %>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-motorcyle"></i> Gem Automotive!</h1>
                  <p>©2018 All Rights Reserved. Powered by GwayIt</p>
                </div>
              </div>
            <% end %>
          </section>
        
      </div>
    </div>
</body>


      </div>
    </div>
  </body>
</html>





