<p id="notice"><%= notice %></p>

<p>
  <strong>Chasis no:</strong>
  <%= @sale.chasis_no %>
</p>

<p>
  <strong>Bike:</strong>
  <%= @sale.bike %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @sale.customer %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @sale.payment_type %>
</p>

<p>
  <strong>Sales type:</strong>
  <%= @sale.sales_type %>
</p>

<p>
  <strong>Dsicount:</strong>
  <%= @sale.dsicount %>
</p>

<p>
  <strong>Received amount:</strong>
  <%= @sale.received_amount %>
</p>

<p>
  <strong>Diffrence:</strong>
  <%= @sale.diffrence %>
</p>

<p>
  <strong>Delivery location:</strong>
  <%= @sale.delivery_location %>
</p>

<p>
  <strong>Show room:</strong>
  <%= @sale.show_room %>
</p>

<p>
  <strong>Executive name:</strong>
  <%= @sale.executive_name %>
</p>

<p>
  <strong>Financed by:</strong>
  <%= @sale.financed_by %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @sale.notes %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
